* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background: #f8fafc;
}

/* HEADER */
.checkout-header {
  padding: 12px;
  text-align: center;
  background: rgba(15, 23, 42, 0.95);
}

.checkout-logo {
  font-size: 26px;
  font-weight: 800;
  background: linear-gradient(90deg, #38bdf8, #0ea5e9, #a78bfa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* MAIN */
.checkout-main {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* NAV */
.checkout-nav {
  margin-bottom: 5px;
}

.checkout-back-link {
  font-size: 14px;
  text-decoration: none;
  color: #0ea5e9;
}

.checkout-back-link:hover {
  text-decoration: underline;
}

/* SECTIONS */
.checkout-section {
  background: #ffffff;
  padding: 16px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

/* ITEMS */
.checkout-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.checkout-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
}

.checkout-item-info {
  flex: 1;
  margin-left: 10px;
}

.checkout-item-name {
  font-size: 14px;
  font-weight: 600;
}

.checkout-item-price {
  font-size: 13px;
  color: #555;
}

/* TOTAL */
.checkout-total {
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
}

/* FORM */
.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-group label {
  font-size: 14px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 4px;
}

/* BUTTON */
.checkout-btn {
  margin-top: 10px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #0ea5e9;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.hidden{
  display: none;
}

.selected-address{
  background-color: blue;
}

/* DESKTOP */
@media (min-width: 768px) {
  .checkout-main {
    flex-direction: row;
  }

  .checkout-section {
    flex: 1;
  }
}